!! ====== display ======
Xft.dpi: 192
Xft.antialias: 1
Xft.hinting: 1
Xft.autohint: 0
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!! ====== urxvt ======
URxvt.foreground: #F9CeC3
URxvt.background: #232530
URxvt.cursorColor: #D65C78

! black
URxvt.color0: #0F161A

! red
URxvt.color1: #D65C78

! green
URxvt.color2: #50C08E

! yellow (orange)
URxvt.color3: #D78374

! blue
URxvt.color4: #15A6B1

! magenta (purple)
URxvt.color5: #B08CCC

! cyan (grey)
URxvt.color6: #63798F

! white
URxvt.color7: #F9CEC3

URxvt.font: xft:FiraCode:medium:size=10:antialiasing=true
URxvt.boldFont: xft:FiraCode:medium:size=10:antialiasing=true:style=bold
URxvt.italicFont: xft:FiraCode:medium:size=10:antialiasing=true
URxvt.letterSpace: -1
URxvt.lineSpace: 6

URxvt.internalBorder: 80
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.scrollBar: false

URxvt.underlineURLs: true
URxvt.urlLauncher: firefox
